@tailwind base;
@tailwind components;
@tailwind utilities;


.horizontal-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* WebKit */
}