*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-\[141px\] {
  top: -141px;
}

.bottom-\[35px\] {
  bottom: 35px;
}

.left-1\/2 {
  left: 50%;
}

.left-\[0\] {
  left: 0;
}

.left-\[13\.574px\] {
  left: 13.574px;
}

.left-\[147px\] {
  left: 147px;
}

.left-\[18\.63px\] {
  left: 18.63px;
}

.left-\[19\.074px\] {
  left: 19.074px;
}

.left-\[3\.025px\] {
  left: 3.025px;
}

.top-\[0\] {
  top: 0;
}

.top-\[16\.5px\] {
  top: 16.5px;
}

.top-\[16\.874px\] {
  top: 16.874px;
}

.top-\[18\.5px\] {
  top: 18.5px;
}

.top-\[49\.5px\] {
  top: 49.5px;
}

.-top-\[120px\] {
  top: -120px;
}

.left-\[10px\] {
  left: 10px;
}

.top-\[10px\] {
  top: 10px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.h-\[10\.945px\] {
  height: 10.945px;
}

.h-\[101px\] {
  height: 101px;
}

.h-\[122px\] {
  height: 122px;
}

.h-\[136px\] {
  height: 136px;
}

.h-\[148px\] {
  height: 148px;
}

.h-\[14px\] {
  height: 14px;
}

.h-\[17px\] {
  height: 17px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[192px\] {
  height: 192px;
}

.h-\[20\.5px\] {
  height: 20.5px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[22\.979px\] {
  height: 22.979px;
}

.h-\[235px\] {
  height: 235px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[27\.5px\] {
  height: 27.5px;
}

.h-\[27px\] {
  height: 27px;
}

.h-\[281px\] {
  height: 281px;
}

.h-\[290px\] {
  height: 290px;
}

.h-\[294px\] {
  height: 294px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[307px\] {
  height: 307px;
}

.h-\[31px\] {
  height: 31px;
}

.h-\[35\.5px\] {
  height: 35.5px;
}

.h-\[362px\] {
  height: 362px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[441px\] {
  height: 441px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[464px\] {
  height: 464px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[582px\] {
  height: 582px;
}

.h-\[6\.01px\] {
  height: 6.01px;
}

.h-\[607\.44px\] {
  height: 607.44px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[61px\] {
  height: 61px;
}

.h-\[620px\] {
  height: 620px;
}

.h-\[634px\] {
  height: 634px;
}

.h-\[63px\] {
  height: 63px;
}

.h-\[644px\] {
  height: 644px;
}

.h-\[664\.29px\] {
  height: 664.29px;
}

.h-\[669\.38px\] {
  height: 669.38px;
}

.h-\[672px\] {
  height: 672px;
}

.h-\[704\.29px\] {
  height: 704.29px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[711px\] {
  height: 711px;
}

.h-\[738px\] {
  height: 738px;
}

.h-\[77px\] {
  height: 77px;
}

.h-\[789\.38px\] {
  height: 789.38px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[81px\] {
  height: 81px;
}

.h-\[82px\] {
  height: 82px;
}

.h-\[831px\] {
  height: 831px;
}

.h-\[84px\] {
  height: 84px;
}

.h-\[96px\] {
  height: 96px;
}

.h-\[41\.82px\] {
  height: 41.82px;
}

.h-\[220px\] {
  height: 220px;
}

.h-\[260px\] {
  height: 260px;
}

.h-\[280px\] {
  height: 280px;
}

.h-auto {
  height: auto;
}

.max-h-\[830\.36px\] {
  max-height: 830.36px;
}

.w-\[107px\] {
  width: 107px;
}

.w-\[114px\] {
  width: 114px;
}

.w-\[1200px\] {
  width: 1200px;
}

.w-\[127px\] {
  width: 127px;
}

.w-\[135px\] {
  width: 135px;
}

.w-\[138px\] {
  width: 138px;
}

.w-\[142px\] {
  width: 142px;
}

.w-\[149px\] {
  width: 149px;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[16px\] {
  width: 16px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[21px\] {
  width: 21px;
}

.w-\[245px\] {
  width: 245px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[251px\] {
  width: 251px;
}

.w-\[265px\] {
  width: 265px;
}

.w-\[285px\] {
  width: 285px;
}

.w-\[29px\] {
  width: 29px;
}

.w-\[31\.75px\] {
  width: 31.75px;
}

.w-\[34\.925px\] {
  width: 34.925px;
}

.w-\[356\.67px\] {
  width: 356.67px;
}

.w-\[386\.67px\] {
  width: 386.67px;
}

.w-\[397px\] {
  width: 397px;
}

.w-\[399px\] {
  width: 399px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[459px\] {
  width: 459px;
}

.w-\[460px\] {
  width: 460px;
}

.w-\[464px\] {
  width: 464px;
}

.w-\[5\.5px\] {
  width: 5.5px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[510px\] {
  width: 510px;
}

.w-\[51px\] {
  width: 51px;
}

.w-\[540px\] {
  width: 540px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[590px\] {
  width: 590px;
}

.w-\[5px\] {
  width: 5px;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[6px\] {
  width: 6px;
}

.w-\[720px\] {
  width: 720px;
}

.w-\[73px\] {
  width: 73px;
}

.w-\[7px\] {
  width: 7px;
}

.w-\[800px\] {
  width: 800px;
}

.w-\[869\.74px\] {
  width: 869.74px;
}

.w-\[907px\] {
  width: 907px;
}

.w-\[93px\] {
  width: 93px;
}

.w-\[94px\] {
  width: 94px;
}

.w-\[953\.25px\] {
  width: 953.25px;
}

.w-\[96px\] {
  width: 96px;
}

.w-full {
  width: 100%;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[\] {
  width: ;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[320px\] {
  width: 320px;
}

.min-w-\[200px\] {
  min-width: 200px;
}

.max-w-\[1500px\] {
  max-width: 1500px;
}

.max-w-\[1280px\] {
  max-width: 1280px;
}

.max-w-\[\] {
  max-width: ;
}

.max-w-\[1280\] {
  max-width: 1280;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[20px\] {
  --tw-translate-y: -20px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[22px\] {
  --tw-translate-x: 22px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[27px\] {
  --tw-translate-x: 27px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-\[50deg\] {
  --tw-rotate: -50deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-skew-x-\[12deg\] {
  --tw-skew-x: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[2\.867px\] {
  gap: 2.867px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[240px\] {
  gap: 240px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[27px\] {
  gap: 27px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[8\.97px\] {
  gap: 8.97px;
}

.gap-\[80px\] {
  gap: 80px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-6 {
  gap: 1.5rem;
}

.self-end {
  align-self: flex-end;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[1000px\] {
  border-radius: 1000px;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[60px\] {
  border-radius: 60px;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-\[0\.5px\] {
  border-bottom-width: 0.5px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-l-\[2px\] {
  border-left-width: 2px;
}

.border-r-\[2px\] {
  border-right-width: 2px;
}

.border-t-\[0\.5px\] {
  border-top-width: 0.5px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-t-\[2px\] {
  border-top-width: 2px;
}

.border-\[\#929292\] {
  --tw-border-opacity: 1;
  border-color: rgb(146 146 146 / var(--tw-border-opacity, 1));
}

.border-\[\#E9E9E9\] {
  --tw-border-opacity: 1;
  border-color: rgb(233 233 233 / var(--tw-border-opacity, 1));
}

.border-\[rgba\(255\2c 255\2c 255\2c 0\.5\)\] {
  border-color: rgba(255,255,255,0.5);
}

.border-t-\[\#E9E9E9\] {
  --tw-border-opacity: 1;
  border-top-color: rgb(233 233 233 / var(--tw-border-opacity, 1));
}

.bg-\[\#485C11\] {
  --tw-bg-opacity: 1;
  background-color: rgb(72 92 17 / var(--tw-bg-opacity, 1));
}

.bg-\[\#8E9C78\] {
  --tw-bg-opacity: 1;
  background-color: rgb(142 156 120 / var(--tw-bg-opacity, 1));
}

.bg-\[\#DFECC6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(223 236 198 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-white\/40 {
  background-color: rgb(255 255 255 / 0.4);
}

.p-\[10px\] {
  padding: 10px;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[240px\] {
  padding-left: 240px;
  padding-right: 240px;
}

.px-\[300px\] {
  padding-left: 300px;
  padding-right: 300px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-\[120px\] {
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[120px\] {
  padding-bottom: 120px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pr-\[30px\] {
  padding-right: 30px;
}

.pr-\[400px\] {
  padding-right: 400px;
}

.pr-\[80px\] {
  padding-right: 80px;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.pt-\[80px\] {
  padding-top: 80px;
}

.text-center {
  text-align: center;
}

.font-crimson {
  font-family: "Crimson Text", serif;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}

.font-rethink {
  font-family: "Rethink Sans", sans-serif;
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[160px\] {
  font-size: 160px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[21\.65px\] {
  font-size: 21.65px;
}

.text-\[22\.86px\] {
  font-size: 22.86px;
}

.text-\[25\.71px\] {
  font-size: 25.71px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[60px\] {
  font-size: 60px;
}

.text-\[80px\] {
  font-size: 80px;
}

.text-\[36px\] {
  font-size: 36px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.leading-\[105\%\] {
  line-height: 105%;
}

.leading-\[120\%\] {
  line-height: 120%;
}

.leading-\[140\%\] {
  line-height: 140%;
}

.leading-\[85\%\] {
  line-height: 85%;
}

.leading-\[90\%\] {
  line-height: 90%;
}

.tracking-\[-0\.005em\] {
  letter-spacing: -0.005em;
}

.tracking-\[-0\.01em\] {
  letter-spacing: -0.01em;
}

.tracking-\[-0\.025em\] {
  letter-spacing: -0.025em;
}

.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}

.tracking-\[-0\.04em\] {
  letter-spacing: -0.04em;
}

.tracking-\[-0\.08em\] {
  letter-spacing: -0.08em;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#485C11\] {
  --tw-text-opacity: 1;
  color: rgb(72 92 17 / var(--tw-text-opacity, 1));
}

.text-\[\#6F6F6F\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-\[\#6f6f6f\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-\[\#929292\] {
  --tw-text-opacity: 1;
  color: rgb(146 146 146 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-60 {
  opacity: 0.6;
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}

.shadow-\[0_2px_8px_0_rgba\(0\2c 0\2c 0\2c 0\.08\)\] {
  --tw-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
  --tw-shadow-colored: 0 2px 8px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_-4px_20px_0px_rgba\(0\2c 0\2c 0\2c 0\.1\)\] {
  --tw-shadow: 0px -4px 20px 0px rgba(0,0,0,0.1);
  --tw-shadow-colored: 0px -4px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur-\[30px\] {
  --tw-backdrop-blur: blur(30px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.hover\:bg-\[\#8E9C78\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(142 156 120 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:-translate-y-2 {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 375px) {
  .mob\:h-\[436\.45px\] {
    height: 436.45px;
  }

  .mob\:h-\[24px\] {
    height: 24px;
  }

  .mob\:h-\[21px\] {
    height: 21px;
  }

  .mob\:h-\[\] {
    height: ;
  }

  .mob\:h-\[285\.45\] {
    height: 285.45;
  }

  .mob\:h-\[285\.45px\] {
    height: 285.45px;
  }

  .mob\:h-\[41\.82px\] {
    height: 41.82px;
  }

  .mob\:w-\[375px\] {
    width: 375px;
  }

  .mob\:w-full {
    width: 100%;
  }

  .mob\:w-\[60px\] {
    width: 60px;
  }

  .mob\:w-\[\] {
    width: ;
  }

  .mob\:w-\[343px\] {
    width: 343px;
  }

  .mob\:w-\[34\] {
    width: 34;
  }

  .mob\:w-\[110px\] {
    width: 110px;
  }

  .mob\:gap-4 {
    gap: 1rem;
  }

  .mob\:border-t-\[1px\] {
    border-top-width: 1px;
  }

  .mob\:border-b-\[1px\] {
    border-bottom-width: 1px;
  }

  .mob\:px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .mob\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mob\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .mob\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .mob\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px;
  }

  .mob\:px-\[px\] {
    padding-left: px;
    padding-right: px;
  }
}

@media (min-width: 800px) {
  .tab\:-top-\[100px\] {
    top: -100px;
  }

  .tab\:left-\[12px\] {
    left: 12px;
  }

  .tab\:left-\[80px\] {
    left: 80px;
  }

  .tab\:top-\[18\.5px\] {
    top: 18.5px;
  }

  .tab\:h-\[35px\] {
    height: 35px;
  }

  .tab\:h-\[\] {
    height: ;
  }

  .tab\:h-\[3\] {
    height: 3;
  }

  .tab\:h-\[334\.\] {
    height: 334.;
  }

  .tab\:h-\[334\.64px\] {
    height: 334.64px;
  }

  .tab\:h-\[41\.82px\] {
    height: 41.82px;
  }

  .tab\:h-\[183\.64px\] {
    height: 183.64px;
  }

  .tab\:h-\[21px\] {
    height: 21px;
  }

  .tab\:h-\[44px\] {
    height: 44px;
  }

  .tab\:h-\[362px\] {
    height: 362px;
  }

  .tab\:h-\[460px\] {
    height: 460px;
  }

  .tab\:h-\[540px\] {
    height: 540px;
  }

  .tab\:h-\[700px\] {
    height: 700px;
  }

  .tab\:w-\[720px\] {
    width: 720px;
  }

  .tab\:w-\[800px\] {
    width: 800px;
  }

  .tab\:w-\[90px\] {
    width: 90px;
  }

  .tab\:w-\[\] {
    width: ;
  }

  .tab\:w-\[7\] {
    width: 7;
  }

  .tab\:w-\[110px\] {
    width: 110px;
  }

  .tab\:w-\[114px\] {
    width: 114px;
  }

  .tab\:w-\[1200px\] {
    width: 1200px;
  }

  .tab\:w-\[660px\] {
    width: 660px;
  }

  .tab\:w-\[700px\] {
    width: 700px;
  }

  .tab\:-translate-x-0 {
    --tw-translate-x: -0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tab\:gap-5 {
    gap: 1.25rem;
  }

  .tab\:gap-\[160px\] {
    gap: 160px;
  }

  .tab\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .tab\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .tab\:text-\[96px\] {
    font-size: 96px;
  }
}

@media (min-width: 1280px) {
  .desk\:-top-\[141px\] {
    top: -141px;
  }

  .desk\:left-\[147px\] {
    left: 147px;
  }

  .desk\:left-\[18\.63px\] {
    left: 18.63px;
  }

  .desk\:h-\[44px\] {
    height: 44px;
  }

  .desk\:h-\[21px\] {
    height: 21px;
  }

  .desk\:h-\[235px\] {
    height: 235px;
  }

  .desk\:h-\[84px\] {
    height: 84px;
  }

  .desk\:h-\[607\.44px\] {
    height: 607.44px;
  }

  .desk\:h-\[644px\] {
    height: 644px;
  }

  .desk\:h-\[738px\] {
    height: 738px;
  }

  .desk\:w-\[1200px\] {
    width: 1200px;
  }

  .desk\:w-\[1280px\] {
    width: 1280px;
  }

  .desk\:w-\[114px\] {
    width: 114px;
  }

  .desk\:w-full {
    width: 100%;
  }

  .desk\:w-\[869\.74px\] {
    width: 869.74px;
  }

  .desk\:w-\[907px\] {
    width: 907px;
  }

  .desk\:gap-\[240px\] {
    gap: 240px;
  }

  .desk\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .desk\:text-\[160px\] {
    font-size: 160px;
  }
}